/* 
    Created on : Dec 16, 2019, 3:19:58 PM
    Author     : Timothy Lickteig
*/

@font-face {
    font-family: "SevenSegment";
    src: url("../fonts/digital-7.mono.ttf");
}

main {
    width: 960px;
    clear: none;
    margin: 0 auto;
    font-family: 'Patua One', cursive;
}

img {
    width: 100%;
}

h1 {
    padding-left: 1em;
    font-family: 'Patua One', cursive;
}

h2 {
    font-family: 'Patua One', cursive;
}

h3 {
    font-family: 'Patua One', cursive;
}

p {
    font-family: 'Patua One', cursive;
}

a {
    font-family: 'Patua One', cursive;
    color: black;
}

label {
    font-family: 'Patua One', cursive;
}

td {
    width: 25%;
    height: 25%;
}

td p {
    text-align: center;
}

textarea {
    margin-left: .5em;
    border: 1px solid #c5c5c5;
    background-color: #f6f6f6;
    font-family: 'Patua One', cursive;
    border-radius: 5px;
}

input[type='button'] {
    font-family: 'Patua One', cursive;
}

input[type='submit'] {
    font-family: 'Patua One', cursive;
}

input[type='text'] {
    border: 1px solid #c5c5c5;
    background-color: #f6f6f6;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Patua One', cursive;
    border-radius: 5px;
}

form input {
    margin-left: 1.5em;
}

li {
    font-family: 'Patua One', cursive;
    text-decoration: underline;
}

.worldClock {
    width: 100%;
    height: 50%;
}

.userHTML {
    font-family: initial;
    margin: initial;
    padding: initial;
}

#ulMenu {
    background-color: #f6f6f6;
    height: 2em;
    border-radius: 5px;
    padding: .6em 0em .1em 2.5em;    
}

#ulMenu li {            
    height: 100%;
    border-radius: 5px;
    display: inline;
}

#ulMenu li a {    
    height: 100%;
    border-radius: 5px;        
    height: 100%;
}

#ulMenu ul {    
    background-color: #f6f6f6;
    border-radius: 5px;
}

#ulMenu ul li {
    display: block;    
}

#ulMenu li ul li{
    padding: .25em 0 .25em 0;
}

#dvContainer {
    margin-top: 1em;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 2em;
}

#dvFortuneTellerWindow {
    border: 1px solid #c5c5c5;
    background-color: #f6f6f6;
    margin-bottom: 1em;
    border-radius: 5px;
}

#dvFortuneTellerWindow p {
    margin-left: 1em;
}

#dvCalculator input[type='text'] {
    text-align: right;
    color: red;
    font-family: 'SevenSegment', serif;  
    font-size: 2em;
    width: 66%;
    height: 35px;
    float: right;
    margin-right: 5.2em;
}

#dvCalculator input[type='button'] {
    width: 100px;
}

#dvAddPost { 
    margin: 0;
    height: 20em;
    width: 10em;
}

#dvAddPost input {
    margin: .5em .5em .5em .5em;
}

#dvAddPost #txtaContent {
    height: 150px;
}

#viewCounter {
    font-size: 5em;
    font-family: 'SevenSegment', serif;   
    color: red;
    margin-top: -.17em;
    margin-bottom: .17em;
}

#clockNumber {    
    font-size: 9em;
    margin-left: -.15em;
    font-family: 'SevenSegment';   
    color: red;
}

#btnGithub {
    margin-bottom: 1em;
}

#btnAddPost {
    margin-bottom: 1em;
}

#dvCustomHTMLWindow {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    font-family: italic;
    width: 130%;
    height: 20em;
    margin-left: -8em;
    margin-top: -2em;
}

#dvChat input[type='text'] {
    margin: 1em;
}

#dvChat textarea {
    margin-left: 1em;
}

#dvChat input[type='button'] {
    margin-left: 1em;
}

#dvEuropeElectricity {
    height: 300px;
    width: 100%;
}

#dvTitanicHumidity {
    height: 400px;
    width: 100%;
}

#dvAccordionTitanic {
    height: 400px;
}